<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fun1
    </title>
</head>
<body><h1>Advertising Sales Prediction</h1>
    <form action="/predict" method="post">
        <lable>TV budget in $</lable><input type="text" name="TV"><br>
        <lable>Radio budget in $</lable><input type="text" name="Radio"><br>
        <lable>Newspaper budget in $</lable><input type="text" name="Newspaper"><br>
        <input type="submit", value="Predict Sales">

    </form>

    
</body>
</html>